EXPO_PUBLIC_APP_ENV=local
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_API_BASE_URL=
EXPO_PUBLIC_MATCH_ALGORITHM_VERSION=delulu-v0.1
EXPO_PUBLIC_ENABLE_MOCKS=true
EXPO_PUBLIC_ENABLE_ANALYTICS_DEBUG=true
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=
